h1,
h3 {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

p {
  color: #b6b8b5;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
  color: #b6b8b5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

button {
  border-radius: 10px;
  background: #3882f6;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #f9faf8;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.links-right {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.main-title {
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.sample {
  width: 200px;
  height: 200px;
  background: gray;
  display: flex;
  color: #f9faf8;
  text-align: center;
}

.first-section {
  background-color: #1f2937;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
