h1,
h3 {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
  color: #b6b8b5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

button {
  border-radius: 10px;
  background: #3882f6;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #f9faf8;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
  padding-left: 170px;
  padding-right: 170px;
}

.links-right {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.first-section {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-column {
  background-color: #1f2937;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
  margin-bottom: 128px;
  margin-right: 0px;
  margin-left: 170px;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

.subtext {
  color: #b6b8b5;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 4px;
  margin: 4px;
}

.sample-img {
  width: 600px;
  height: 150px;
  background: rgb(124, 124, 124);
  color: #f9faf8;
  text-align: center;
  margin-right: 170px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 256px;
  margin-right: 256px;
  margin-bottom: 100px;
}

.second-title {
  font-size: 36px;
  color: #1f2937;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.img-boxes {
  border: solid 3px #3882f6;
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.boxes {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-boxes {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #444647;
}

.third-section {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  margin-right: 300px;
  margin-left: 300px;
}

.quote-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
